.logo {
  margin:0 25%;
  width: 40%;
}

.header {
  height: 80px;
}

.spanLink {
  margin: 0 10%;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
  font-size: 100%;
  color: black;
  text-transform: uppercase; 
  border-bottom: 4px solid black;
}

.spanLink:hover,
.spanLink:active
{
  border-bottom: 4px solid #a9c3d0;
  color: #a9c3d0;
}

.spanLinkWrapper {
  padding-top: 5%;
}

span {
  color: black;
}