.logo {
  margin:0 25%;
  width: 40%;
}

.header {
  height: 80px;
}

.spanLink {
  margin: 0 10%;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
  font-size: 100%;
  font-weight: 700;
  color: black;
  text-transform: uppercase; 
  border-bottom: 4px solid black;
}

.spanLink:hover,
.spanLink:active
{
  border-bottom: 4px solid #a9c3d0;
  color: #a9c3d0;
}

.spanLinkWrapper {
  padding-top: 20%;
}

.gridContainer {
  max-width:1140px;
  display: grid;
  /*grid-row-gap: 50px;*/
  grid-template-columns: 33% 33% 33%;
  margin:0 auto;
}
 
