* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
body {
 background-color: #F4F4F4;
}
header {
 height: 100px;
 background-color: rgb(211, 206, 206);
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 2.5em;
}
.wrapper {
 max-width: 1500px;
 margin: 0 auto;
}
/* Landing Section */
.content {
 background-color: white;
 margin: 50px auto;
 padding: 1rem;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
article h2 {
 text-align: center;
}
article p {
 margin-top: 20px;
}
.btn {
 background-color: transparent;
 border: 1px solid black;
 padding: .5rem 1rem;
 margin: 20px auto 0 auto;
 display: block;
}
/* Post Section */
.post {
 padding: 1rem;
}
.post h1 {
 text-align: center;
 margin: 20px;
}
.post img {
 display: block;
 margin: 0 auto 30px auto;
}
