@media only screen and (max-width: 2560px) {
  
}


@media only screen and (max-width: 1440px) {

}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 1000px){


}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px){
	.mainDiv {
		width:100% !important;
	}

	.date {
		font-size: 21px !important;
    	margin-left: 3% !important;
	}
	.spanLink {
		/*border-bottom: 2px solid black !important;*/
		border-bottom: none !important;
		margin:0 !important;
		font-weight: normal !important;
	}
	.gridContainer {
		margin-left: -10%;
	}
	.header {
		border-bottom: 1px solid #8080802b;
	}
	.logo {
		margin: 0 8% !important;
		width: 69% !important;
	}
	.leftContent {
		border-left: none !important;
		padding:0 !important;
		margin-left: 5% !important;
	}
	.landingH4 {
		text-align: left;
	}
	.landingTag{
		margin-top: 2% !important;
	}
	.postContainer {
		padding: 0 !important;
	}
	.post {
		margin-left: 8%;
	}
	.postTitle{
		font-size: 22px !important;
	}
	.postDate {
		font-size: 14px !important;
	}
	.postContent {
		font-size: 16px !important;
    	letter-spacing: 1px !important;
	}
	.sidebarMenu {
		margin: 4% 10% !important;
	}
	.searchDiv {
		display: none !important;
	}
	.browseByCategory {
		display: none !important;
	}
	.search {
		margin-bottom: -10% !important;
	}

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
	.mainDiv {
		width:100% !important;
	}

	.date {
		font-size: 21px !important;
    	margin-left: 3%;
	}
	.header {
		border-bottom: 1px solid #8080802b;
	}
	.spanLink {
		border-bottom: none !important;
		/*border-bottom: 2px solid black !important;*/
		margin:0 !important;
		font-weight: normal !important;
	}
	.gridContainer {
		margin-left: -10%;
	}
	.sidebarMenu {
		margin: 4% 10% !important;
	}
	.searchDiv {
		display: none !important;
	}
	.browseByCategory {
		display: none !important;
	}
	.search {
		margin-bottom: -10% !important;
	}
	.postContainer {
		padding: 0 !important;
	}
	.post {
		margin-left: 8%;
	}
}

@media only screen and (max-width: 330px) {
 	
}